<ion-header>
  <ion-navbar>

    <ion-title>Profile</ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
   <ion-list-header>
     Personal Information
   </ion-list-header>

   <ion-item>
     <ion-grid>
       <ion-row>
         <ion-col col-6>
           Name
         </ion-col>
         <ion-col col-6 >
         <!-- <ion-col col-6 > -->
            {{name}}

         </ion-col>

       </ion-row>
     </ion-grid>
   </ion-item>
   <ion-item>
     <ion-grid>
       <ion-row>
         <ion-col col-6>
           Track
         </ion-col>
         <!-- <ion-col col-6 *ngFor="let item of items | async"> -->
         <ion-col col-6 >
            <!-- {{ item.name}} -->
            {{track}}
         </ion-col>

       </ion-row>
     </ion-grid>
   </ion-item>
   <ion-item>
     <ion-grid>
       <ion-row>
         <ion-col col-6>
           Email
         </ion-col>
         <!-- <ion-col col-6 *ngFor="let item of items | async"> -->
         <ion-col col-6 >
            <!-- {{ item.name}} -->
              {{ email }}
         </ion-col>

       </ion-row>
     </ion-grid>
   </ion-item>


 </ion-list>

</ion-content>
